.card {
    position: relative;
    background: $white;
    padding: $m-size;
    outline: 1px solid #dfe4e7;
}
#delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: $m-size;
    color: #e68585;
    cursor: pointer;
    padding: 3px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header p {
    margin: 0;
}
.card ion-icon {
    margin-left: -5px;
    font-size: 70px;
}
.company {
    font-size: $m-size;
}
.amount {
    font-size: $xl-size;
}
.card-details {
    margin-top: $m-size;
    padding-top: $s-size;
    font-size: $smedium-size;
}
.card-details span {
    padding-left: $xs-size;
}