header {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4em;
    background: $green;
    text-rendering: optimizeLegibility;
}
header h2 {
    font-size: $m-size;
    font-style: italic;
    font-weight: 600;
    margin: 0;
    margin-left: 64px;
}
header p {
    font-size: $s-size;
    margin-right: $m-size;
}
