* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: $letter-spacing;
    background: $light-grey;
    color: $black;
}

.btn {
    font-weight: 200;
    font-size: $smedium-size;
    padding: $s-size $m-size;
}