//Colors
$white: white;
$black: #50504f;
$green: #72d832;
$blue: #009cde;
$light-grey: #f7f7f7;
$outline: #dfe4e7;

// Spacing/Sizing
$xs-size: .6rem;
$s-size: 1.3rem;
$smedium-size: 1.8rem; 
$m-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;

//Text stuff
$letter-spacing: .8px;